
<label for="name">
	<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="vorname">
	<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.vorname" />
</label><br />
	<f:form.textfield property="vorname" /><br />
<label for="email">
	<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="tel">
	<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.tel" />
</label><br />
	<f:form.textfield property="tel" /><br />
<label for="fax">
	<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.fax" />
</label><br />
	<f:form.textfield property="fax" /><br />
<label for="tel2">
	<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.tel2" />
</label><br />
	<f:form.textfield property="tel2" /><br />
<label for="mobil">
	<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.mobil" />
</label><br />
	<f:form.textfield property="mobil" /><br />
<label for="bemerkungen">
	<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.bemerkungen" />
</label><br />
	<f:form.textfield property="bemerkungen" /><br />