<label for="name">
	<f:translate key="tx_dst14vereine_domain_model_verein.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="strasse">
	<f:translate key="tx_dst14vereine_domain_model_verein.strasse" />
</label><br />
	<f:form.textfield property="strasse" /><br />
<label for="postfach">
	<f:translate key="tx_dst14vereine_domain_model_verein.postfach" />
</label><br />
	<f:form.textfield property="postfach" /><br />
<label for="pLZ">
	<f:translate key="tx_dst14vereine_domain_model_verein.p_l_z" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="pLZ" /><br />
<label for="ort">
	<f:translate key="tx_dst14vereine_domain_model_verein.ort" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="land">
	<f:translate key="tx_dst14vereine_domain_model_verein.land" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="land" /><br />
<label for="webseite">
	<f:translate key="tx_dst14vereine_domain_model_verein.webseite" />
</label><br />
	<f:form.textfield property="webseite" /><br />
<label for="email">
	<f:translate key="tx_dst14vereine_domain_model_verein.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="lat">
	<f:translate key="tx_dst14vereine_domain_model_verein.lat" />
</label><br />
	<f:form.textfield property="lat" /><br />
<label for="lng">
	<f:translate key="tx_dst14vereine_domain_model_verein.lng" />
</label><br />
	<f:form.textfield property="lng" /><br />