<table class="tx-dst14-vereine" >
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_verein.name" />
		</td>
		<td>
			{verein.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_verein.strasse" />
		</td>
		<td>
			{verein.strasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_verein.postfach" />
		</td>
		<td>
			{verein.postfach}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_verein.p_l_z" />
		</td>
		<td>
			{verein.pLZ}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_verein.ort" />
		</td>
		<td>
			{verein.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_verein.land" />
		</td>
		<td>
			{verein.land}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_verein.webseite" />
		</td>
		<td>
			{verein.webseite}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_verein.email" />
		</td>
		<td>
			{verein.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_verein.lat" />
		</td>
		<td>
			{verein.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_verein.lng" />
		</td>
		<td>
			{verein.lng}
		</td>
	</tr>
</table>