
<table class="tx-dst14-vereine" >
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.name" />
		</td>
		<td>
			{ansprechpartner.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.vorname" />
		</td>
		<td>
			{ansprechpartner.vorname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.email" />
		</td>
		<td>
			{ansprechpartner.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.tel" />
		</td>
		<td>
			{ansprechpartner.tel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.fax" />
		</td>
		<td>
			{ansprechpartner.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.tel2" />
		</td>
		<td>
			{ansprechpartner.tel2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.mobil" />
		</td>
		<td>
			{ansprechpartner.mobil}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dst14vereine_domain_model_ansprechpartner.bemerkungen" />
		</td>
		<td>
			{ansprechpartner.bemerkungen}
		</td>
	</tr>
</table>