
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Ansprechpartner</h1>

<f:flashMessages />

<table  class="tx_dst14vereine" >
	<tr>
		<th><f:translate key="tx_dst14vereine_domain_model_ansprechpartner.name" /></th>
		<th><f:translate key="tx_dst14vereine_domain_model_ansprechpartner.vorname" /></th>
		<th><f:translate key="tx_dst14vereine_domain_model_ansprechpartner.email" /></th>
		<th><f:translate key="tx_dst14vereine_domain_model_ansprechpartner.tel" /></th>
		<th><f:translate key="tx_dst14vereine_domain_model_ansprechpartner.fax" /></th>
		<th><f:translate key="tx_dst14vereine_domain_model_ansprechpartner.tel2" /></th>
		<th><f:translate key="tx_dst14vereine_domain_model_ansprechpartner.mobil" /></th>
		<th><f:translate key="tx_dst14vereine_domain_model_ansprechpartner.bemerkungen" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{ansprechpartners}" as="ansprechpartner">
		<tr>
			<td><f:link.action action="show" arguments="{ansprechpartner : ansprechpartner}"> {ansprechpartner.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ansprechpartner : ansprechpartner}"> {ansprechpartner.vorname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ansprechpartner : ansprechpartner}"> {ansprechpartner.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ansprechpartner : ansprechpartner}"> {ansprechpartner.tel}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ansprechpartner : ansprechpartner}"> {ansprechpartner.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ansprechpartner : ansprechpartner}"> {ansprechpartner.tel2}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ansprechpartner : ansprechpartner}"> {ansprechpartner.mobil}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ansprechpartner : ansprechpartner}"> {ansprechpartner.bemerkungen}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{ansprechpartner : ansprechpartner}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{ansprechpartner : ansprechpartner}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Ansprechpartner</f:link.action>
</f:section>